body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
    background-color: #2f3031;
    
}
#coname {
    float: left;
    width: 150px;
    height: 150px;
    margin:auto;
    padding: 10px;
 }
 
footer, footer a {
    background-color: #535557;
    color: white;
    font-size: 18pt;
    height: 120px;
   
} 
#footerlogo{
    width: 100px;
    height: 100px;
    float: right;
}

a {
    text-decoration: none;
    text-align: left;
    padding: 10px;
    background-color: #535557;
    color: white;
    font-size: 18pt;
    margin: auto;
}
.video{
    padding: auto;
    width:1000px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#movie{
    text-align: center;
}
.tt2{
    text-align: center;
    color: rgb(223, 223, 14);
}
section {
    font-size: 20pt;
}

.title{
    text-align: center;
}
footer {
    text-align: right;
    padding: 10px;
}

.container {
    border-radius: 5px;
    padding: 20px;
  }

address {
    font-style: normal;
}

.title{
    color: #ffffff;
}
.div1{
    display: inline-block
}
#ullist{
    list-style: none;
    
}
   
#ul-sec1{
    display: grid;
    color: #ffffff;
    grid-template-columns: repeat(3,1fr);
    width: 800px;
    grid-gap: 10px;
    grid-auto-rows: auto;
    margin: 30px auto;
    text-align: left;
    list-style: none;
    
}
.imgsize{
    width: 270px; 
    height: 300px;
}
.sec1-grid {
    width: 1000px;
    margin: auto;
}

.grid-container-sec4
{
    text-align: center;
}

.grid-containerfooter{
    display: grid;
    padding:10px;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    }
.gridfoot{
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
  
.container {
    /* border-radius: 5px; */
    padding: 20px;
}
.fv{
    text-align: center;

  }
.regispic{
    float: right;
    height: 520px;
    margin-right: 30px;

}
#ul-reg1{
    display: grid;
    color: #ffffff;
    grid-template-columns: repeat(3,1fr);
    width: 800px;
    grid-gap: 10px;
    grid-auto-rows: auto;
    margin: 30px auto;
    text-align: left;
    list-style: none
}
.rfv{
    text-align: left;
}